body {
  background-color: lightsteelblue;
}
ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin-right: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-button {
  width: 150px;
  margin-left: 20px;

  background-color: whitesmoke;
  border-radius: 4px;
}

.stats {
  display: flex;
  align-items: center;
  text-align: center;
}

.material-icons {
  color: whitesmoke;
}
